# ============================================
# DATABASE — Supabase PostgreSQL
# ============================================
DATABASE_URL=""
DIRECT_URL=""

# ============================================
# AUTH — NextAuth.js
# ============================================
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""
AUTH_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Paystack
PAYSTACK_SECRET_KEY=""
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=""

# Flutterwave Test Keys
FLUTTERWAVE_PUBLIC_KEY=""
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=""
FLUTTERWAVE_SECRET_KEY=""
FLUTTERWAVE_ENCRYPTION_KEY=""

# Inngest
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""

RESEND_API_KEY=""
RESEND_WEBHOOK_SECRET=""

# Speedaf Express API Settings
SPEEDAF_ENABLED=""
SPEEDAF_UAT_MODE=""
SPEEDAF_APP_CODE=""
SPEEDAF_SECRET_KEY=""
SPEEDAF_CUSTOMER_CODE=""
SPEEDAF_PLATFORM_SOURCE=""

# PROmonitor Telemetry Key (registered for Nextgen)
PROMONITOR_CLIENT_KEY=
